params { 
    query = "$PWD/input.fasta"
    dbDir = "$PWD/DB/"
    dbName = "blastDB"
    threads = 2
    outdir = "out_dir"
    outFileName = "input.blastout"
    options = "-evalue 1e-3"
    outfmt = "6"
    app = "blastn"
    help = false
    chunkSize = 1
}

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}

executor {
  queueSize = 100
  submitRateLimit = '10 sec'
}

manifest {
    name        = 'sammorris25/nextflow_tutorial/nextflow_tutorial'   
    author      = 'Samantha Morris'
    homePage    = 'none'
    description = 'nextflow bash'
    mainScript  = 'main.nf'
    version     = '0.1.0'
}

process {
  executor = 'slurm'
  clusterOptions =  '--mem=4G --cpus-per-task=4'
  withLabel: blast { module = 'blast-plus' }
}